!!!
%html{'data-version' => '1.2'}
  %head
    %title Classy-Cate
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css'
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    - if user_signed_in?
      = javascript_include_tag 'settings'
    = csrf_meta_tags
  %body
    .container#wrapper
      - if user_signed_in?
        = render :partial => 'shared/navbar'
      
      #page-content
        - if notice
          %p.notice= notice
        - if alert
          %p.alert= alert
        = yield
        
    - if user_signed_in?
      = render :partial => 'shared/footer'