!!!
%html{'data-version' => '1.2'}
  %head
    %title Classy-Cate
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css'
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css'
    = stylesheet_link_tag    "application"
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'
    = javascript_include_tag '//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js'
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container#wrapper
      .navbar.hide 
        .navbar-inner
          .container
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .brand{:href => "/"}
              CATE &nbsp;
              %a{:href => "/ChangesLog.html"}
                %span#cc-version
            .nav-collapse.collapse
              %ul.nav
                %li
                  %a#nav-dashboard{:href => "#"} Dashboard
                %li
                  %a#nav-exercises{:href => "#"} Exercises
                %li
                  %a#nav-grades{:href => "#"} Grades
                %li
                  %a#nav-teachdb{:href => "https://teachdb.doc.ic.ac.uk/db/"} Teach DB
                %li
                  %a#nav-internalreg{:href => "https://dbc.doc.ic.ac.uk/internalreg"} Module Registration
              %ul.nav.pull-right
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    %span#cc-current-year
                    %span Change Year
                    %b.caret
                  %ul#cc-year-dropdown.dropdown-menu{:role => "menu"}
      
      #page-content
        - if notice
          %p.notice= notice
        - if alert
          %p.alert= alert
        = yield

    %footer.footer.text-center.hide
      .row
        #old-cate-button-container.span12.centered
          %span#old-cate-button.btn.btn-mini But I liked the old CATE!
      .container
        %p
          Designed and Created by &nbsp;
          %a{:href => "http://www.inspiredpixel.net"} Peter Hamilton &nbsp;
          %a{:href => "http://www.twitter.com/peterejhamilton"}
            %i.icon-twitter &nbsp;
          %a{:href => "http://www.github.com/peterhamilton"}
            %i.icon-github &nbsp;
        %p
          This journey 1% finished. Help lessen the pain - &nbsp;
          %a{:href => "https://github.com/PeterHamilton/classy-cate"}
            %i.icon-github-alt